MessengerClient/Connected Services/MessengerService/MessengerService.Contracts.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MessengerService.Contracts.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MessengerService.Contracts.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EnterData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnterData" nillable="true" type="tns:EnterData" />
  <xs:complexType name="MessageToService">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageToService" nillable="true" type="tns:MessageToService" />
  <xs:complexType name="SoundToService">
    <xs:sequence>
      <xs:element minOccurs="0" name="SoundBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="UserId" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoundToService" nillable="true" type="tns:SoundToService" />
  <xs:complexType name="MessageToUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageToUser" nillable="true" type="tns:MessageToUser" />
  <xs:complexType name="SoundToUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="SoundBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoundToUser" nillable="true" type="tns:SoundToUser" />
</xs:schema>